*{
    margin: 0;
}
body{
    background-image: url(https://cuiet.codebrigade.in/images/Chitkara_University_pic.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    box-sizing: border-box;
    font-family: Arial;
}
.head{
    height: 5px;
    width: 100%;
    background-color: red;
}
.img{
    margin-left: 93%;
}
.box{
    height: 85vh;
    width: 20vw;
    background-color: white;
    margin: 12vh 0 0 65vw;
    /* padding: 0 0 0 px; */
    display: block;
}
.second{
    height: 100px;
    margin: 10% 0 5%  13% ;
}
.user{
    margin-top: 10px;
    margin-left: 9%;
}
.input{
    margin-left: 9%;
    margin-bottom: 5%;
    width: 75%;
}
.hi{
    margin-left: 9%;
    width: 78%;
    height: 4.5%;
}
.png{
    width: 75%;
    margin-left: 10%;
}
.imgbox{
    width: 100%;
    /* background-color: black; */
    height: 6vh;
    padding-left: 25%;
    margin-top:1vh;
}
.para{
    margin-left: 15%;
    font-size: small;
    font-weight: 600;
}
.last{
    display: flex;
    margin-left: 9%;
    margin-top: 2vh;
}
.ok{
    height: 25px;
    margin-left: 1vw;
}